---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
---

<BaseLayout>
    <div style="display:flex; flex-direction: column; align-items: center;">
        <h1>some of the games of all time</h1>
        <ul>
            <li>portal 1 and 2</li>
            <li>transformice</li>
            <li>undertale</li>
            <li>rainbow, apex, osu, balatro, blockheads,</li>
        </ul>
        
        <div class="content">
            
            <p>
                will add list of top games and some custom avatars from different online games i've played, for example:
            </p>
            <ul>
                <li>transformice</li>
                <li>growtopia</li>
                <li>roblox</li>
                <li>minecraft?</li>
                <li>terraria</li>
                <li>stardew</li>
            </ul>
        </div>
    </div>
</BaseLayout>   
    