---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
---

<BaseLayout>
	<div class="content">
		<p>
            will add list of top games and some custom avatars from different online games i've played, for example:
        </p>
        <ul>
            <li>transformice</li>
            <li>growtopia</li>
            <li>roblox</li>
            <li>minecraft?</li>
            <li>terraria</li>
            <li>stardew</li>
        </ul>
	</div>
</BaseLayout>   
