---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
---

<BaseLayout>
	<div class="content">
		<p>hello world</p>
		<p>this is where the intro and stuff will go</p>
	</div>
</BaseLayout>