---
---
<style>
    header {
        background-color: #324650;
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0 5rem;
    }

    .title a {
        color: #009D9D;
        font-weight: bold;
        text-decoration: none;
    }

    .links {
        align-content: center;
        display: flex;
        gap: 2rem;
    }

    .links a {
        color: #C2C2DA;
        line-height: 100%;
        text-decoration: none;
    }

    .links a:hover {
        background-color: #465A6E;
    }

    .spacer {
        width: 81px;
    }

</style>

<header>
    <div class="title">
        <a href="/">mons blog</a>
    </div>

    <nav class="links">
        <a href="/">home</a>
        <a href="/posts">posts</a>
    </nav>

    <blink class="spacer"></blink>
</header>
<!-- <a href="/about/">About</a>
<a href="/blog/">Blog</a> -->